ul.menu {list-style:none; margin:0; padding:0}

ul.menu * {
	margin:0; 
	padding:0;
}

ul.menu a {
	display:block; 
	color:#000; 
	text-decoration:none;
	line-height:25px;
	text-align:left;
}

ul.menu li {position:relative; float:left; margin-right:2px}

ul.menu ul {
	position:absolute; 
	top:60px; 
	left:0; 
	background:#FFFFFF; 
	display:none; 
	opacity:0; 
	list-style:none
}

ul.menu ul li {
	position:relative; 
	border:1px solid #aaa; 
	border-top:none; 
	width:223px; 
	margin:0;
}

ul.menu ul li a {
	display:block; 
	padding:3px 7px 5px; 
	background-color:#FFFFFF;
}

ul.menu ul li a:hover {
	background-color: #D9E2E9;
}

ul.menu ul ul {
	left:223px; 
	top:-1px
}

ul.menu .sub {
	background: #FFFFFF url(../img/arrow.gif) 210px 8px no-repeat;
}

ul.menu .topline {border-top:1px solid #aaa}

ul.menu .subTopLine {
	background: #FFFFFF url(../img/arrow.gif) 210px 8px no-repeat;
	border-top:1px solid #aaa
}